#sectors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  #sectors div {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }